# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# don't want these ever
uinit
*.rom
*.lzma
*.pub

# files specific to this project
apu.bin
apuorigin.bin
cpuapu.bin
image.bin
initramfs.*.cpio
kernel
kernel.xz
*.bin
amitse
AMITSE
amitse*
AMITSE*


me_cleaner
