# Configuration for a Dell R630
# flashrom doesn't work on this mainboard
# and it is NERF, not coreboot.
BOARD=r630
NERF_SIZE=0xB30000
PEI_OFFSET=0xE40000
PEI_SIZE=0x1C0000
ME_OFFSET=0x20000
ME_SIZE=0x2F0000
ROM_SIZE=16777216

CONFIG_EDK2=y

CONFIG_LINUX_USB=y
CONFIG_LINUX_IGB=y
CONFIG_LINUX_MEGARAID=y
#CONFIG_LINUX_E1000E=y
